*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body{
    height: 150vh;
    background-color: whitesmoke;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
    margin: 0 6%;
}

header button{
    background-color: rgb(255, 107, 166);
    border: none;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 0;
    color: white;
    cursor: pointer;
    transition: background-color .2s ease;
}

header button:hover{
    background-color: rgb(255, 0, 234);
}

h1{
    text-align: center;
    margin: 2% 0;
    font-size: 3rem;
}

.container{
    background-color: rgb(228, 228, 228);
    margin: 0 5%;
    padding: 5% 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 1rem;
}

.container img{
    background-color: rgba(255, 255, 255, 0.491);
    padding: 5%;
    width: 80%;
    height: 40%;
    aspect-ratio: 10/ 9;
    border-radius: 1rem;
}

.description{
    /* background-color: green; */
    width: 100%;
    height: 400px;
    padding: 1% 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5%;
}

#desc{
    color: gray;
    font-size: 1.5rem;
    text-align: left;
}

.container .details{
    margin: 1rem 0;
    display: flex;
    justify-content: center;
    text-align: center;
    color: white;
    border-radius: .5rem;
    flex-direction: column;
    background-color: rgb(78, 170, 255);
    padding: 5%;
    gap: 10px;
    width: 100%;
}
.details p{
    font-size: 1.5rem;
    text-align: left;
}

#data{
    color: black;
}

.types{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 5%;
}

.description button {
    background-color: rgb(113, 255, 146);
    width: 100px;
    height: 30px;
    border: none;
    border-radius: .5rem;
}


@media  (max-width:800px) {
    .container{
        margin-top: 5%;
        flex-direction: column;
        gap: 0;
    }
    .container img{
        margin-top: 2rem;
        width: 100%;
        height: 50%;
        aspect-ratio: 10/5;
    }
    .description{
        width: 100%;
        height: auto;
        padding: 1rem 0;
    }
    .description button {
        background-color: rgb(113, 255, 146);
        width: 100px;
        height: 30px;
        border: none;
        border-radius: .5rem;
    }
    .details p{
        font-size: 1rem;
    }

}