
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: #e7e7ff;
    color: #333;
    line-height: 1.6;
    font-size: 16px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #4e79a7;
    padding: 0 50px;
    height: 4rem;
    color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

nav h1 {
    font-size: 1.8rem;
    letter-spacing: 1px;
    width: 50%;
}
.entry{
    display: flex;
    justify-content: end;
    align-items: center;
    width: 50%;
}

.entry input {
    width: 50%;
    height: 2rem;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 5px;
    margin-right: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.entry button {
    height: 2rem;
    padding: 0 1rem;
    border: none;
    background-color: #f28e2c;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.entry button:hover {
    background-color: #d77a26;
}


.container, .filterContainer {
    background-color: whitesmoke;
    margin: 5%;
    display: none;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    height: 100%;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card {
    background-color: #ffffff;
    width: 250px;
    margin-bottom: 10px;
    height: 100%;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}

.card img {
    display: block;
    margin: 0 auto;
    height: 70%;
    width: 70%;
    aspect-ratio: 3/4;
    padding: 1rem;
    transition: transform 0.5s ease;
}

.card:hover img {
    transform: scale(1.2);
}

.cardDetails {
    background-color: #cfe7e6;
    width: 100%;
    padding: 1rem;
    border-radius: 0 0 10px 10px;
    text-align: center;
}

#charName {
    font-size: 1.2rem;
}

#pokemonType {
    color: #f28e2c;
    font-size: 0.9rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

@media (max-width: 800px) {
    nav {
        flex-direction: column;
        height: 100%;
        padding: 20px;
    }

    nav h1 {
        text-align: center;
        width: 100%;
        font-size: 2rem;
        margin-bottom: 10px;
    }

    .entry{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    .entry input {
        width: 70%;
    }

    #search{
        width: 30%;
    }
}
