*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    background-color: rgb(214, 214, 214);
}

h1{
    padding: 10px;
    text-align: center;
    background-color: rgb(190, 162, 255);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.search{
    margin: 2% 0;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 1rem;
    padding-right: 1rem;
}

label{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

select{
    width: 10rem;
    padding: 5px;
    outline: none;
    border-radius: 3px;
    border: none;
    background-color: rgb(109, 128, 253);
    color: white;
}


section{
    width: 100%;
    padding: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
    flex-wrap: wrap;
}

.card{
    background-color: white;
    width: 250px;
    height: auto;
    padding-top: 2%;
    border: 1px solid rgb(195, 195, 195);
    border-radius: 1rem;
    margin-bottom: 5%;
}

.card img{
    width: 50%;
    height: 50%;
    position: relative;
    left: 4rem;
    aspect-ratio: 3/4;
}

.details{
    background-color: rgba(0, 90, 128, 0.173);
    padding: 5%;
    width: 100%;
    height: auto;
    border-radius: 0 0 1rem 1rem;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#title{
    font-size: .7rem;
}

#price{
    font-size: 1rem;
    color: green;
}

#description{
    font-size: .4rem;
}

#rating{
    font-size: .5rem;
}

